<div class="flex">

  <app-menu></app-menu>

  <div class="content" id="content">
    <app-nav></app-nav>

    <div class="container mt-2">
      <div class="alert alert-light" role="alert">
        <div class="row">
          <h1>Productos</h1>
          <button routerLink="/productos/nuevo" routerLinkActive="router-link-active"  class="btn btn-large btn-secondary ml-auto" >
          <i class="fas fa-plus"></i>
            Nuevo
          </button>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row ">
        <div class="col-md-3 mt-1 mb-2" *ngFor="let p of productos">
          <div class="card" style="width: 14rem;">
            <img  [src]="p.img_path" class="img-fluid" [alt]="p.name">
            <div class="card-body">
              <p class="card-title">{{p.name | titlecase}}</p>
              <p>$ {{p.price}}</p>
              <a [routerLink]="['/productos/editar/', p._id]" class="btn btn-block btn-secondary">editar</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

</div>
