<div class="flex">

  <app-menu></app-menu>

  <div class="content" id="content">
    <app-nav></app-nav>

    <div class="container mt-2">
      <div class="alert alert-light" role="alert">
      <div class="row">
        <h1>Productos</h1>
        <button routerLink="/productos/nuevo" routerLinkActive="router-link-active"  class="btn btn-large btn-secondary ml-auto" >
         <i class="fas fa-plus"></i>
           Nuevo
         </button>
      </div>
      </div>
      
    </div>
  </div>

</div>
