<div class="side" id="side">
  <div class="user">
    <h3>Panadería San José</h3>
  </div>

  <div class="list-group" id="enlaces-side">   
    <a class="list-group-item list-group-item-action text-white enlace-menu" [routerLink]="['/home']" routerLinkActive="active-link">
      <i class="fas fa-home"></i>
      Inicio
    </a>
    <a href="#" class="list-group-item list-group-item-action text-white enlace-menu" [routerLink]="['/productos']" routerLinkActive="active-link">
      <i class="fas fa-th-large"></i>
      Productos
    </a>
    <a href="#" class="list-group-item list-group-item-action text-white enlace-menu" [routerLink]="['/pedidos']" routerLinkActive="active-link">
      <i class="fas fa-tasks"></i>
      Pedidos
    </a>
    <a href="#" class="list-group-item list-group-item-action text-white enlace-menu" [routerLink]="['/chat']" routerLinkActive="active-link">
      <i class="fas fa-comments"></i>
      Chat
    </a>
    <a href="#" class="list-group-item list-group-item-action text-white enlace-menu" [routerLink]="['/usuarios']" routerLinkActive="active-link">
      <i class="fas fa-user-friends"></i>
      Usuarios
    </a>
    <a href="#" class="list-group-item list-group-item-action text-white enlace-menu" [routerLink]="['/clientes']" routerLinkActive="active-link">
      <i class="fas fa-user-tag"></i>
      Clientes
    </a>   
  </div>
</div>